<!DOCTYPE html>
<html>
  <head>
    <title>FixedIn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:title" content="FixedIn" />
     <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
     <meta property="og:description"
       content="A LinkedIn clone utilizing Ruby on Rails, React/Redux and PostgreSQL."
     />
    <meta property="og:url"
      content="http://fixedin.herokuapp.com/"
    />


     <% if current_user %>
      <script>
        window.currentUser = <%= render(
          '/api/users/user.json.jbuilder',
          user: current_user
        ).html_safe %>
      </script>
    <% end %>
    
    <script>
      window.splashImg = '<%= image_url('fogg-workflow.png') %>'
      window.logo = '<%= image_url('logo.png') %>'
      window.notFound = '<%= image_url('explore.png') %>'
      window.defaultUser = '<%= image_url('defaultUser.png') %>'
      window.defaultBg = '<%= image_url('defaultbg.png') %>'
      window.smallLogo = '<%= image_url('favicon.png') %>'
      window.farzam = '<%= image_url('farzam.png') %>'
      window.exp = '<%= image_url('exp.png') %>'
      window.edu = '<%= image_url('edu.png') %>'
    </script>

    <link rel="icon" type="image/x-icon" href='<%= image_url('favicon.png') %>'>

    <script src="https://kit.fontawesome.com/4980ac7fec.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
