<!DOCTYPE html>
<html>
  <head>
    <title>FixedIn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

     <% if current_user %>
      <script>
        window.currentUser = <%= render(
          '/api/users/user.json.jbuilder',
          user: current_user
        ).html_safe %>
      </script>
    <% end %>
    
    <script>
      window.splashImg = '<%= image_url('fogg-workflow.png') %>'
      window.logo = '<%= image_url('logo.png') %>'
      window.notFound = '<%= image_url('explore.png') %>'
      window.defaultUser = '<%= image_url('defaultUser.png') %>'
      window.defaultBg = '<%= image_url('defaultbg.png') %>'
    </script>

    <script src="https://kit.fontawesome.com/4980ac7fec.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
